
*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(22 79 54 / 69%);;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(229, 238, 240);
    display: grid;
}
main{
    display: flex;
}
.div{
    display: flex;
    flex-direction: column;
    background-color: #55788791;;
    color: #000;
    padding-bottom: 40px;
}
.titulo{
    color: black;
    font-size: 300%;
    padding-top: 50px;
  
   font-family: 'Syncopate'; 
}
h1 {
    text-align: center;
    font-variant: small-caps;        
}
h2{
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}
.container{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(50, 252, 0, 0.816);
    text-align: center;
    font-weight: 750;
    letter-spacing: 1pt;
    font-weight: bold;
}
ul li::marker{
    color: black; 
}
.botones{
    background-color: #000;
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 8px;
    color: rgb(0, 255, 21);
    box-shadow: 0 0 30px 0 rgb(162 255 0), 0 0 30px 0 rgb(20 169 220), 0 0 10px 0 rgb(15 175 24) inset; 

  
}
.botones a{
    text-decoration: none;
    color: rgb(0, 255, 21)
}
.botones2{
    background-color: #000;
    display: flex;
    margin: auto;
    border: 3px solid black;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 0 0 30px 0 rgb(255, 115, 0),
    0 0 30px 0 rgb(220, 20, 20), 
    0 0 10px 0  rgb(175, 100, 15) inset;
}
.botones2 a{
    text-decoration: none;
    color:orangered;
}

.portal{
    color: rgb(123, 245, 99);
    height: 400px;
     padding: 30px; 
    text-align: center;
   
}
.espacio { 
    
    color: #FF9800;
    height: 400px;
    padding: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}
#gridSys{
    display: grid;
    
    grid-template-columns: 450px 500px;
    grid-template-rows: 70px 400px;
    justify-content: end;
    justify-items: center;
}
.portada { 
     background-color: #000;
    border: solid 4px rgb(255, 228, 181);;
    width: 500px;
    margin: auto;
    padding-bottom: 30px;
    text-align: center;
    
    
}  
#libros{
    width: 350px;
    height: 300px;
    border: 1px solid black;
}
/* Final Escape */
#escape{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(50, 252, 0, 0.816);
    text-align: center; 
    font-weight: 750;
    font-weight: bold;
}
 
.final img {
    border: solid 2px rgba(211, 58, 58, 0.295);
    width :700px;
     height:400px;
     display: flex;
    margin: auto;
}
/* footers */
.alienFooter{
 margin:80px 0px 50px;
}


    



    


